In [61]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_feather('./../data/$SPX_TOTAL_RETURNS.feather')

In [63]:
df = df['AAPL'].to_frame().dropna()

In [64]:
## long term mean level
def get_miu(df:pd.DataFrame)  -> float:
    return df.mean().iloc[0]

In [65]:
def get_Xt(df:pd.DataFrame)-> float:
    return df.iloc[-1,0]

In [66]:
def get_dt (df:pd.DataFrame) -> float:
    return 1

In [67]:
def get_theta(df:pd.DataFrame) -> float:
    ## time = 1, due to daily returns
    time = get_dt(df)
    rho = df.iloc[:,0].autocorr(lag=1)
    return -(1/time) * np.log(rho)

In [68]:
def get_var(df:pd.DataFrame, theta:float, dt: float, mu:float) -> float:
    df = df.iloc[:,0].values
    exp1 = np.exp(-theta * dt)
    exp2 = np.exp(-2 * theta * dt)

    diff = df[1:] - df[:-1] * exp1 - mu * (1 - exp1)
    numerator = 2 * theta * np.sum(diff**2)
    denominator = len(df) * (1 - exp2)

    sigma2 = numerator / denominator
    return sigma2

In [72]:
def get_dXt(theta:float, mu: float, Xt:float, dt: float, var: float, dWt: float) -> float:
    return (theta * (mu - Xt)* (1/dt)) +( np.sqrt(var) * dWt)

In [73]:
mu = get_miu(df)
time = get_dt(df)
theta = get_theta(df)
X_t = get_Xt(df)
var = get_var(df, theta, time, mu)
dX_t = get_dXt(theta, mu, X_t, time, var, np.sqrt(time))

np.float64(0.23037659199926575)